Repository PointCloudLibrary/pcl: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/docs-pipeline.yaml, .ci/azure-pipelines/env.yml

.ci/azure-pipelines/azure-pipelines.yaml:
  stages:
  - stage: formatting
    displayName: Formatting
    jobs:
    - template: formatting.yaml
  - stage: build_gcc
    displayName: Build GCC
    dependsOn: formatting
    jobs:
    - job: ubuntu
      displayName: Ubuntu
      pool:
        vmImage: Ubuntu 20.04
      strategy:
        matrix:
          18.04 GCC:
  ...

.ci/azure-pipelines/docs-pipeline.yaml:
  stages:
  - stage: formatting
    displayName: Formatting
    condition: ne(variables['Build.Reason'], 'ResourceTrigger')
    jobs:
    - template: formatting.yaml
  - stage: documentation
    displayName: Documentation
  ...

.ci/azure-pipelines/env.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Sunday midnight build
    branches:
      include:
      - master
  jobs:
  - job: BuildAndPushUbuntu
    timeoutInMinutes: 360
    displayName: Env
    pool:
      vmImage: ubuntu-latest
    strategy:
      matrix:
        Ubuntu 18.04:
          CUDA_VERSION: 10.2
  ...

added newlines and spaces
  common/include/pcl/impl/point_types.hpp
  test/common/test_transforms.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Test fix mls.h
  surface/include/pcl/surface/mls.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Test fix mls.hpp
  surface/include/pcl/surface/impl/mls.hpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

fix ndt score function naming: likelihood instead of probability
  registration/include/pcl/registration/impl/ndt.hpp
  registration/include/pcl/registration/ndt.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Limit VTK_LIBRARIES to wanted components for VTK 9.0.
  cmake/pcl_find_vtk.cmake
Due: .ci/azure-pipelines/azure-pipelines.yaml

add old items from public interface with deprecation note
  registration/include/pcl/registration/ndt.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

add deprectation note to trans_probability_
  registration/include/pcl/registration/impl/ndt.hpp
  registration/include/pcl/registration/ndt.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

suppress deprecation warning in NDT constructor
  registration/include/pcl/registration/impl/ndt.hpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Changed search tree used when input!=surface
  keypoints/include/pcl/keypoints/impl/iss_3d.hpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Added tests for input!=surface
  test/keypoints/test_iss_3d.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

removed testing output
  test/keypoints/test_iss_3d.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Update one macOS CI from 10.14 to 11
  .ci/azure-pipelines/azure-pipelines.yaml
Due: .ci/azure-pipelines/azure-pipelines.yaml

Update README with new macOS CI badges
  README.md
Due: none

Corrected cos_angle calculation from rotation matrix. (#5016)
  registration/include/pcl/registration/impl/ndt.hpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Add Visual Studio 2022
  CMakeLists.txt
  cmake/pcl_cpack.cmake
Due: .ci/azure-pipelines/azure-pipelines.yaml

[pcl_cuda_common] Export the pkgconfig file
  cuda/common/CMakeLists.txt
Due: .ci/azure-pipelines/azure-pipelines.yaml

[pcl_io] Set libusb as a required dependency of openni in non-Windows
  cmake/Modules/FindOpenNI.cmake
  cmake/Modules/FindOpenNI2.cmake
Due: .ci/azure-pipelines/azure-pipelines.yaml

add suppression pragmas only for gcc
  registration/include/pcl/registration/impl/ndt.hpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

update suggestions
  cuda/common/CMakeLists.txt
Due: .ci/azure-pipelines/azure-pipelines.yaml

PLY parser: remove undesired whitespace
  io/src/ply/ply_parser.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Fix tutorials.
  doc/tutorials/content/sources/qt_colorize_cloud/CMakeLists.txt
  doc/tutorials/content/sources/qt_colorize_cloud/pclviewer.cpp
  doc/tutorials/content/sources/qt_colorize_cloud/pclviewer.h
  doc/tutorials/content/sources/qt_colorize_cloud/pclviewer.ui
  doc/tutorials/content/sources/qt_visualizer/CMakeLists.txt
  doc/tutorials/content/sources/qt_visualizer/pclviewer.cpp
  doc/tutorials/content/sources/qt_visualizer/pclviewer.h
  doc/tutorials/content/sources/qt_visualizer/pclviewer.ui
Due: .ci/azure-pipelines/docs-pipeline.yaml

Fix spelling error.
  doc/tutorials/content/sources/qt_colorize_cloud/pclviewer.ui
  doc/tutorials/content/sources/qt_visualizer/pclviewer.ui
Due: .ci/azure-pipelines/docs-pipeline.yaml

Remove linking explicitly to VTK as it is already present in pcl_visualizer
  doc/tutorials/content/sources/qt_colorize_cloud/CMakeLists.txt
  doc/tutorials/content/sources/qt_visualizer/CMakeLists.txt
Due: .ci/azure-pipelines/docs-pipeline.yaml

Consume whitespaces in ply headers
  io/src/ply/ply_parser.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Update qt_visualizer and line numbers
  doc/tutorials/content/qt_visualizer.rst
  doc/tutorials/content/sources/qt_visualizer/CMakeLists.txt
  doc/tutorials/content/sources/qt_visualizer/pclviewer.cpp
Due: .ci/azure-pipelines/docs-pipeline.yaml

Update qt_colorize_cloud source and line numbers
  doc/tutorials/content/qt_colorize_cloud.rst
  doc/tutorials/content/sources/qt_colorize_cloud/CMakeLists.txt
  doc/tutorials/content/sources/qt_colorize_cloud/pclviewer.cpp
Due: .ci/azure-pipelines/docs-pipeline.yaml

Require sphinx>=3 to fix errors on readthedocs See https://blog.readthedocs.com/build-errors-docutils-0-18/
  doc/requirements.txt
Due: .ci/azure-pipelines/docs-pipeline.yaml

trans_likelihood_ and trans_probability_ in a union
  registration/include/pcl/registration/impl/ndt.hpp
  registration/include/pcl/registration/ndt.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Include <limits> which is missing in a VTK 9.0.x header
  outofcore/include/pcl/outofcore/visualization/common.h
  surface/include/pcl/surface/vtk_smoothing/vtk.h
  visualization/src/common/io.cpp
  visualization/src/pcl_plotter.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Fix indentation
  io/src/ply/ply_parser.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

improve deprecation macro parameters
  registration/include/pcl/registration/ndt.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Reorder includes in pcl_plotter.cpp
  visualization/src/pcl_plotter.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

PLY parser: accept files with whitespace at line end (#5033)
  io/src/ply/ply_parser.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Include <limits> which is missing in a VTK 9.0.x header (#5038)
  outofcore/include/pcl/outofcore/visualization/common.h
  surface/include/pcl/surface/vtk_smoothing/vtk.h
  visualization/src/common/io.cpp
  visualization/src/pcl_plotter.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

[pcl_cuda_common] Export the pkgconfig file (#5026)
  cuda/common/CMakeLists.txt
Due: .ci/azure-pipelines/azure-pipelines.yaml

Update Qt tutorials with VTK9 (#5005)
  doc/tutorials/content/qt_colorize_cloud.rst
  doc/tutorials/content/qt_visualizer.rst
  doc/tutorials/content/sources/qt_colorize_cloud/pclviewer.cpp
  doc/tutorials/content/sources/qt_colorize_cloud/pclviewer.h
  doc/tutorials/content/sources/qt_colorize_cloud/pclviewer.ui
  doc/tutorials/content/sources/qt_visualizer/pclviewer.cpp
  doc/tutorials/content/sources/qt_visualizer/pclviewer.h
  doc/tutorials/content/sources/qt_visualizer/pclviewer.ui
Due: .ci/azure-pipelines/docs-pipeline.yaml

Remove unnecessary quotes and brackets.
  cmake/pcl_find_libusb.cmake
Due: .ci/azure-pipelines/azure-pipelines.yaml

Handle VCPKG findlibusb.
  CMakeLists.txt
  cmake/Modules/Findlibusb.cmake
  cmake/pcl_find_libusb.cmake
Due: .ci/azure-pipelines/azure-pipelines.yaml

Minor changes and additional comment about VCPKG.
  cmake/pcl_find_libusb.cmake
Due: .ci/azure-pipelines/azure-pipelines.yaml

Additional commets about VCPKG.
  cmake/pcl_find_libusb.cmake
Due: .ci/azure-pipelines/azure-pipelines.yaml

Path conditions:
  .ci/azure-pipelines/azure-pipelines.yaml: any file but: doc, README.md, CHANGES.md, CONTRIBUTING.md
  .ci/azure-pipelines/docs-pipeline.yaml: any of: doc
  .ci/azure-pipelines/env.yml: any of: .dev/docker/env/Dockerfile, .dev/docker/windows, .ci/azure-pipelines/env.yml
