Repository PointCloudLibrary/pcl: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/docs-pipeline.yaml, .ci/azure-pipelines/env.yml, .ci/azure-pipelines/ubuntu-variety.yaml

Path conditions:
  .ci/azure-pipelines/azure-pipelines.yaml: any file but: doc, README.md, CHANGES.md, CONTRIBUTING.md
  .ci/azure-pipelines/docs-pipeline.yaml: any of: doc
  .ci/azure-pipelines/env.yml: any of: .dev/docker/env/Dockerfile, .dev/docker/windows, .ci/azure-pipelines/env.yml
  .ci/azure-pipelines/ubuntu-variety.yaml: any of: .dev/docker/ubuntu-variety, .ci/azure-pipelines/ubuntu-variety.yaml

Remove unnecessary dependency to test_correspondence_estimation.
  test/registration/CMakeLists.txt
  test/registration/test_correspondence_estimation.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Remove global includes from PCL_SUBSYS_DEPEND in PCL_TARGETS and adjust accordingly (#6013)
  2d/CMakeLists.txt
  apps/3d_rec_framework/CMakeLists.txt
  apps/CMakeLists.txt
  apps/cloud_composer/CMakeLists.txt
  apps/in_hand_scanner/CMakeLists.txt
  apps/modeler/CMakeLists.txt
  cmake/pcl_targets.cmake
  cuda/common/CMakeLists.txt
  cuda/features/CMakeLists.txt
  cuda/io/CMakeLists.txt
  cuda/segmentation/CMakeLists.txt
  examples/geometry/CMakeLists.txt
  features/CMakeLists.txt
  geometry/CMakeLists.txt
  io/CMakeLists.txt
  sample_consensus/CMakeLists.txt
  sample_consensus/src/sac_model_torus.cpp
  segmentation/CMakeLists.txt
  stereo/CMakeLists.txt
  test/2d/CMakeLists.txt
  test/io/CMakeLists.txt
  test/octree/CMakeLists.txt
  test/recognition/CMakeLists.txt
  test/registration/CMakeLists.txt
  test/registration/test_correspondence_estimation.cpp
  visualization/CMakeLists.txt
Due: .ci/azure-pipelines/azure-pipelines.yaml

ppf: remove redundant codes
  features/include/pcl/features/impl/ppf.hpp
  registration/include/pcl/registration/impl/ppf_registration.hpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Add changelog for PCL 1.15.0
  CHANGES.md
Due: none

Fix perception_pcl_ros dockerfile for release pipeline Ros noetic is the last ROS 1 release that is still supported (but only until May this year)
  .dev/docker/perception_pcl_ros/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml

Update
  .dev/docker/perception_pcl_ros/Dockerfile
  .dev/docker/perception_pcl_ros/noetic_rosinstall.yaml
Due: .ci/azure-pipelines/azure-pipelines.yaml

Fix perception_pcl_ros dockerfile for release pipeline (#6233)
  .dev/docker/perception_pcl_ros/Dockerfile
  .dev/docker/perception_pcl_ros/noetic_rosinstall.yaml
Due: .ci/azure-pipelines/azure-pipelines.yaml

Update release.yaml: melodic to noetic
  .ci/azure-pipelines/release.yaml
Due: .ci/azure-pipelines/azure-pipelines.yaml

Modernize cmake config template
  PCLConfig.cmake.in
Due: .ci/azure-pipelines/azure-pipelines.yaml

Update 1.15.0 release date
  CHANGES.md
Due: none

Bump version to 1.15.0
  CMakeLists.txt
  README.md
Due: .ci/azure-pipelines/azure-pipelines.yaml

Bump version to 1.15.0.99 post release
  CMakeLists.txt
Due: .ci/azure-pipelines/azure-pipelines.yaml

test
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

test 2
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

test 3
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

test 4
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

test 5
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

test 6
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

test 7
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

test 8
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

Added the ability to redirect logging to a callable.
  common/include/pcl/console/print.h
  common/src/print.cpp
  test/common/CMakeLists.txt
  test/common/test_console.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Add nanoflann on windows/vcpkg
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

Remove offset pointer optimization in inftrees.c.
  surface/src/3rdparty/opennurbs/inftrees.c
Due: .ci/azure-pipelines/azure-pipelines.yaml

Use formatted string instead of temporary stringstream.
  examples/segmentation/example_cpc_segmentation.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Add includes.
  octree/include/pcl/octree/impl/octree_base.hpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

cleanup
  common/include/pcl/console/print.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Test for undefined symbol.
  octree/include/pcl/octree/octree_impl.h
  octree/src/octree_inst.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Fix copy paste error.
  common/include/pcl/console/print.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Fix ODR of OctreeKey::maxdepth.
  octree/CMakeLists.txt
  octree/include/pcl/octree/octree_key.h
  octree/src/octree_key.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Remove unnecessary c_str().
  examples/segmentation/example_lccp_segmentation.cpp
  tools/train_linemod_template.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Wrap static member variables in a getter method.
  octree/CMakeLists.txt
  octree/include/pcl/octree/impl/octree2buf_base.hpp
  octree/include/pcl/octree/impl/octree_base.hpp
  octree/include/pcl/octree/impl/octree_pointcloud.hpp
  octree/include/pcl/octree/octree_key.h
  octree/src/octree_key.cpp
  sample_consensus/include/pcl/sample_consensus/sac_model.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

vtk: no default features (to speed up build)
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

Add wrapper function for easier setting the callback.
  common/include/pcl/console/print.h
  test/common/test_console.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Fix a bug when getting a gzip header extra field with inflate().
  surface/src/3rdparty/opennurbs/inflate.c
Due: .ci/azure-pipelines/azure-pipelines.yaml
