Repository PointCloudLibrary/pcl: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/docs-pipeline.yaml, .ci/azure-pipelines/env.yml, .ci/azure-pipelines/ubuntu-variety.yaml

Path conditions:
  .ci/azure-pipelines/azure-pipelines.yaml: any file but: doc, README.md, CHANGES.md, CONTRIBUTING.md
  .ci/azure-pipelines/docs-pipeline.yaml: any of: doc
  .ci/azure-pipelines/env.yml: any of: .dev/docker/env/Dockerfile, .dev/docker/windows, .ci/azure-pipelines/env.yml
  .ci/azure-pipelines/ubuntu-variety.yaml: any of: .dev/docker/ubuntu-variety, .ci/azure-pipelines/ubuntu-variety.yaml

Clang-format: make regex case sensitive To avoid confusion between <queue> and Qt includes Fixes https://github.com/PointCloudLibrary/pcl/issues/5212
  .clang-format
Due: .ci/azure-pipelines/azure-pipelines.yaml

Revised per review
  recognition/src/face_detection/face_detector_data_provider.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Consolidated duplicated code per review
  recognition/src/face_detection/rf_face_detector_trainer.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

format test
  apps/src/openni_3d_concave_hull.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

new format test
  apps/src/openni_3d_convex_hull.cpp
  apps/src/openni_boundary_estimation.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

test formatting
  apps/src/openni_color_filter.cpp
  apps/src/openni_fast_mesh.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

test formatting
  apps/src/openni_3d_concave_hull.cpp
  apps/src/openni_3d_convex_hull.cpp
  apps/src/openni_boundary_estimation.cpp
  apps/src/openni_color_filter.cpp
  apps/src/openni_fast_mesh.cpp
  apps/src/openni_feature_persistence.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

command line behavior mimics previous version(s), consistent help flags
  apps/src/openni_mobile_server.cpp
  apps/src/openni_organized_edge_detection.cpp
  apps/src/openni_planar_convex_hull.cpp
  apps/src/openni_planar_segmentation.cpp
  apps/src/openni_tracking.cpp
  apps/src/openni_uniform_sampling.cpp
  apps/src/openni_voxel_grid.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

rest of the files
  apps/src/openni_ii_normal_estimation.cpp
  apps/src/openni_mls_smoothing.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

OpenNI apps: Improve handling of command line arguments (#5494)
  apps/src/openni_3d_concave_hull.cpp
  apps/src/openni_3d_convex_hull.cpp
  apps/src/openni_boundary_estimation.cpp
  apps/src/openni_color_filter.cpp
  apps/src/openni_fast_mesh.cpp
  apps/src/openni_feature_persistence.cpp
  apps/src/openni_grab_images.cpp
  apps/src/openni_ii_normal_estimation.cpp
  apps/src/openni_klt.cpp
  apps/src/openni_mls_smoothing.cpp
  apps/src/openni_mobile_server.cpp
  apps/src/openni_organized_edge_detection.cpp
  apps/src/openni_planar_convex_hull.cpp
  apps/src/openni_planar_segmentation.cpp
  apps/src/openni_tracking.cpp
  apps/src/openni_uniform_sampling.cpp
  apps/src/openni_voxel_grid.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Added modernize-return-braced-init-list clang-tidy
  .clang-tidy
  common/include/pcl/common/impl/eigen.hpp
  common/include/pcl/range_image/impl/range_image.hpp
  filters/include/pcl/filters/normal_refinement.h
  filters/include/pcl/filters/voxel_grid.h
  filters/include/pcl/filters/voxel_grid_occlusion_estimation.h
  geometry/include/pcl/geometry/mesh_base.h
  io/include/pcl/io/dinast_grabber.h
  io/include/pcl/io/real_sense_2_grabber.h
  io/src/dinast_grabber.cpp
  io/src/hdl_grabber.cpp
  io/src/oni_grabber.cpp
  io/src/openni2_grabber.cpp
  io/src/openni_grabber.cpp
  io/src/ply_io.cpp
  io/src/robot_eye_grabber.cpp
  io/src/tim_grabber.cpp
  io/src/vlp_grabber.cpp
  io/tools/ply/ply2obj.cpp
  io/tools/ply/ply2ply.cpp
  io/tools/ply/ply2raw.cpp
  outofcore/include/pcl/outofcore/visualization/camera.h
  recognition/src/face_detection/face_detector_data_provider.cpp
  registration/include/pcl/registration/impl/lum.hpp
  simulation/include/pcl/simulation/camera.h
  surface/src/on_nurbs/sequential_fitter.cpp
  test/filters/test_convolution.cpp
  test/geometry/test_mesh_common_functions.h
  test/io/test_octree_compression.cpp
  tracking/include/pcl/tracking/impl/tracking.hpp
  visualization/include/pcl/visualization/area_picking_event.h
  visualization/src/common/common.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Add compile options to pcl_common target
  common/CMakeLists.txt
Due: .ci/azure-pipelines/azure-pipelines.yaml

Reverted formatting changes per review
  io/src/openni2_grabber.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Restored braced-init-list return
  io/src/openni2_grabber.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Added VCPKG tutorial
  doc/tutorials/content/images/vcpkg/cmake_configure_1.png
  doc/tutorials/content/images/vcpkg/cmake_configure_2.png
  doc/tutorials/content/index.rst
  doc/tutorials/content/pcl_vcpkg_windows.rst
Due: .ci/azure-pipelines/docs-pipeline.yaml

Rewording
  doc/tutorials/content/pcl_vcpkg_windows.rst
Due: .ci/azure-pipelines/docs-pipeline.yaml

Remove specific note about 11(.1)
  doc/tutorials/content/pcl_vcpkg_windows.rst
Due: .ci/azure-pipelines/docs-pipeline.yaml

Tide seems only to developed by the author Geoffrey Biggs and seems unobtainable.
  tools/CMakeLists.txt
  tools/pcl_video.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

*Really* revert formatting this time
  io/src/openni2_grabber.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

[Doc] Add tutorial for using VCPKG on Windows (#4814)
  doc/tutorials/content/images/vcpkg/cmake_configure_1.png
  doc/tutorials/content/images/vcpkg/cmake_configure_2.png
  doc/tutorials/content/index.rst
  doc/tutorials/content/pcl_vcpkg_windows.rst
Due: .ci/azure-pipelines/docs-pipeline.yaml

suggesting zero padding files when writing
  doc/tutorials/content/sources/cluster_extraction/cluster_extraction.cpp
Due: .ci/azure-pipelines/docs-pipeline.yaml

Add writeBinary to ostream for PCDWriter
  io/include/pcl/io/pcd_io.h
  io/src/pcd_io.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Commented NOLINT instances more clearly
  filters/include/pcl/filters/normal_refinement.h
  outofcore/include/pcl/outofcore/visualization/camera.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

updating documentation with correct filenames
  doc/tutorials/content/cluster_extraction.rst
Due: .ci/azure-pipelines/docs-pipeline.yaml

Revert "Add writeBinary to ostream for PCDWriter"
  io/include/pcl/io/pcd_io.h
  io/src/pcd_io.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Add independent writeBinary to ostream function
  io/include/pcl/io/pcd_io.h
  io/src/pcd_io.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Add unit test for writeBinary to ostream
  test/io/test_io.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

suggesting zero padding files when writing (#5597)
  doc/tutorials/content/cluster_extraction.rst
  doc/tutorials/content/sources/cluster_extraction/cluster_extraction.cpp
Due: .ci/azure-pipelines/docs-pipeline.yaml

Tide seems only to developed by the author Geoffrey Biggs and seems unobtainable. (#5595)
  tools/CMakeLists.txt
  tools/pcl_video.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Fix register macros to match struct definitions
  common/include/pcl/impl/point_types.hpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Fix pcl find package directories
  cmake/pcl_pclconfig.cmake
  cmake/pcl_targets.cmake
  cmake/pcl_utils.cmake
Due: .ci/azure-pipelines/azure-pipelines.yaml

Fix filename to install:
  cmake/pcl_pclconfig.cmake
Due: .ci/azure-pipelines/azure-pipelines.yaml

Revert "Fix register macros to match struct definitions"
  common/include/pcl/impl/point_types.hpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Sort fields in generateHeaderBinary
  io/src/pcd_io.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Update VCPKG to 2023.01.09 Release - since ICU links are broken.
  .ci/azure-pipelines/env.yml
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

Add overload to fromPCLPointCloud2 to avoid copying data This is especially interesting for perception_pcl (see https://github.com/ros-perception/perception_pcl/pull/368)
  common/include/pcl/conversions.h
Due: .ci/azure-pipelines/azure-pipelines.yaml
