Repository PointCloudLibrary/pcl: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/docs-pipeline.yaml, .ci/azure-pipelines/env.yml, .ci/azure-pipelines/ubuntu-variety.yaml

Path conditions:
  .ci/azure-pipelines/azure-pipelines.yaml: any file but: doc, README.md, CHANGES.md, CONTRIBUTING.md
  .ci/azure-pipelines/docs-pipeline.yaml: any of: doc
  .ci/azure-pipelines/env.yml: any of: .dev/docker/env/Dockerfile, .dev/docker/windows, .ci/azure-pipelines/env.yml
  .ci/azure-pipelines/ubuntu-variety.yaml: any of: .dev/docker/ubuntu-variety, .ci/azure-pipelines/ubuntu-variety.yaml

Fix problem when building against Eigen master See also https://gitlab.com/libeigen/eigen/-/commit/f2984cd0778dd0a1d7e74216d826eaff2bc6bfab
  PCLConfig.cmake.in
Due: .ci/azure-pipelines/azure-pipelines.yaml

Improve documentations/tutorials
  doc/tutorials/content/gasd_estimation.rst
  features/include/pcl/features/pfhrgb.h
  filters/include/pcl/filters/approximate_voxel_grid.h
  recognition/include/pcl/recognition/implicit_shape_model.h
  registration/include/pcl/registration/gicp.h
  registration/include/pcl/registration/ndt.h
  registration/include/pcl/registration/ndt_2d.h
  registration/include/pcl/registration/ppf_registration.h
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/docs-pipeline.yaml

Fix maybe-uninitialized warnings by checking function results
  features/include/pcl/features/impl/gasd.hpp
  surface/include/pcl/surface/impl/grid_projection.hpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Replace io functions based on VTK with PCL-native functions This is a first step to make the io module not depend on VTK any more
  gpu/kinfu_large_scale/tools/standalone_texture_mapping.cpp
  io/src/davidsdk_grabber.cpp
  tools/mesh_sampling.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Improve logging
  io/include/pcl/io/ply/ply_parser.h
  io/src/ply_io.cpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cone.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_cylinder.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_line.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_normal_sphere.hpp
  sample_consensus/include/pcl/sample_consensus/sac_model_sphere.h
  visualization/src/pcl_visualizer.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Reduce number of allocations, for example for kdtree searches KdTree calls vectorize for every point. Before this commit, vectorize unnecessarily allocated and freed memory for evey call.
  common/include/pcl/point_representation.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Update to .net 4.8.0 as chocolatey requires it.
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

Update Dockerfile use .net 4.8.1 image.
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

Update windows azure-pipelines to use windows-2022
  .ci/azure-pipelines/azure-pipelines.yaml
Due: .ci/azure-pipelines/azure-pipelines.yaml

Update Dockerfile correct naming
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

Update to newer checkout for x86 - fixing icu dependencies links.
  .ci/azure-pipelines/env.yml
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

Update windows env to windows-2022
  .ci/azure-pipelines/env.yml
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

Try publish buildlog
  .ci/azure-pipelines/env.yml
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

Cat log file output
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

Addressed review comments
  recognition/include/pcl/recognition/impl/implicit_shape_model.hpp
  recognition/include/pcl/recognition/impl/ransac_based/simple_octree.hpp
  recognition/include/pcl/recognition/implicit_shape_model.h
  registration/include/pcl/registration/correspondence_rejection.h
  registration/include/pcl/registration/correspondence_rejection_poly.h
  registration/include/pcl/registration/correspondence_rejection_var_trimmed.h
  registration/include/pcl/registration/default_convergence_criteria.h
  search/include/pcl/search/impl/flann_search.hpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Optimizer now works!
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_torus.hpp
  sample_consensus/include/pcl/sample_consensus/sac_model_torus.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Reran clang-tidy after rebase
  recognition/include/pcl/recognition/impl/implicit_shape_model.hpp
  recognition/include/pcl/recognition/implicit_shape_model.h
  recognition/include/pcl/recognition/linemod.h
  recognition/src/linemod.cpp
  search/include/pcl/search/impl/flann_search.hpp
  test/common/test_transforms.cpp
  test/octree/test_octree_iterator.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Set buildtree to shorter path
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

Important milestone: * optimizeModelCoefficients is ready * Moved the implementation towards a "normal based" approach * computeModelCoefficients is also ready
  examples/sample_consensus/example_torus.cpp
  sample_consensus/include/pcl/sample_consensus/impl/ransac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_torus.hpp
  sample_consensus/include/pcl/sample_consensus/ransac.h
  sample_consensus/include/pcl/sample_consensus/sac_model_torus.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Removes normals
  examples/sample_consensus/example_torus.cpp
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_torus.hpp
  sample_consensus/include/pcl/sample_consensus/sac_model_torus.h
  sample_consensus/src/sac_model_torus.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Reverting unnecessary changes..
  sample_consensus/include/pcl/sample_consensus/sac.h
  sample_consensus/include/pcl/sample_consensus/sac_model_cylinder.h
  sample_consensus/include/pcl/sample_consensus/sac_model_ellipse3d.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Several changes:
  sample_consensus/CMakeLists.txt
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_torus.hpp
  sample_consensus/include/pcl/sample_consensus/sac_model_torus.h
  test/sample_consensus/test_sample_consensus_quadric_models.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Restores unrequired file modifications
  CMakeLists.txt
  examples/sample_consensus/example_torus.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Restoring unnecessary modifications
  examples/CMakeLists.txt
Due: .ci/azure-pipelines/azure-pipelines.yaml

Updating doxygen
  sample_consensus/include/pcl/sample_consensus/sac_model_torus.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Adds clangformat to new files
  sample_consensus/include/pcl/sample_consensus/impl/sac_model_torus.hpp
  sample_consensus/include/pcl/sample_consensus/sac_model_torus.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Addressed further review comments
  recognition/include/pcl/recognition/implicit_shape_model.h
  registration/include/pcl/registration/correspondence_rejection.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Add checks for valid radius and max_results in gpu/features Fixes https://github.com/PointCloudLibrary/pcl/issues/5844
  gpu/features/src/features.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Let setInputCloud of search methods indicate success or failure (#5840)
  filters/include/pcl/filters/impl/local_maximum.hpp
  filters/include/pcl/filters/impl/radius_outlier_removal.hpp
  filters/include/pcl/filters/impl/statistical_outlier_removal.hpp
  filters/include/pcl/filters/local_maximum.h
  filters/include/pcl/filters/radius_outlier_removal.h
  filters/include/pcl/filters/statistical_outlier_removal.h
  search/include/pcl/search/flann_search.h
  search/include/pcl/search/impl/flann_search.hpp
  search/include/pcl/search/impl/kdtree.hpp
  search/include/pcl/search/impl/organized.hpp
  search/include/pcl/search/impl/search.hpp
  search/include/pcl/search/kdtree.h
  search/include/pcl/search/octree.h
  search/include/pcl/search/organized.h
  search/include/pcl/search/search.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Initial Commit
  filters/include/pcl/filters/normal_space.h
  filters/include/pcl/filters/random_sample.h
  filters/include/pcl/filters/sampling_surface_normal.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

fix check array distances empty
  sample_consensus/include/pcl/sample_consensus/impl/msac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/rmsac.hpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

fix typo
  sample_consensus/include/pcl/sample_consensus/impl/rmsac.hpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

MSAC and RMSAC: fix check array distances empty (#5849)
  sample_consensus/include/pcl/sample_consensus/impl/msac.hpp
  sample_consensus/include/pcl/sample_consensus/impl/rmsac.hpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Remove debug call and retry on same file, since it varies which file fails.
  .dev/docker/windows/Dockerfile
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/env.yml

Addressed latest issues flagged in review
  recognition/include/pcl/recognition/impl/implicit_shape_model.hpp
  recognition/include/pcl/recognition/implicit_shape_model.h
  registration/include/pcl/registration/correspondence_rejection.h
  registration/include/pcl/registration/correspondence_rejection_poly.h
  registration/include/pcl/registration/ndt.h
  registration/include/pcl/registration/transformation_estimation_lm.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Fixed clang-format complaint
  registration/include/pcl/registration/correspondence_rejection_poly.h
Due: .ci/azure-pipelines/azure-pipelines.yaml

Initial_Commit_Creating_Benchmark_from_test
  benchmarks/organized_index/organized_index.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Changes
  .vscode/c_cpp_properties.json
Due: .ci/azure-pipelines/azure-pipelines.yaml

Changes_2
  benchmarks/organized_index/organized_index.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

Fixed omitted review item
  registration/include/pcl/registration/transformation_estimation_point_to_plane_weighted.h
Due: .ci/azure-pipelines/azure-pipelines.yaml
